<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  
    
   
    /* Add a gray background color and some padding to the footer */
   
  </style>
</head>
<body>



<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">CAR WASH </div>
        <div class="panel-body"><img src="https://previews.123rf.com/images/imthong89/imthong891403/imthong89140300055/26712280-beauty-black-car-with-soap-in-car-wash.jpg" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">CAR WASH </div>
        <div class="panel-body"><img src="https://previews.123rf.com/images/imthong89/imthong891403/imthong89140300055/26712280-beauty-black-car-with-soap-in-car-wash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">CAR WASH</div>
        <div class="panel-body"><img src="https://previews.123rf.com/images/imthong89/imthong891403/imthong89140300055/26712280-beauty-black-car-with-soap-in-car-wash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">CAR WASH</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmd9H85Z_4F_ftti8iWE1H33x74Tp43lzwpG164qttBTD-R5Og" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">CAR WASH</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk6PemDjONMgwL1qqi96I3qV5l28i2WZq1bBvlI9KT68jfyL_Veg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">CAR WASH</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxQ1JmN76L_afQk5ornr1l-TWiz_5jAjaMHrgxBhWS_15hjxr4nw" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">SERVICES</div>
      </div>
    </div>
  </div>
</div><br><br>






</body>
</html>
